{
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["*.vue"],
      "options": {
        "printWidth": 160
      }
    }
  ]
}
